<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Add this line to load the static template tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ids/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'ids/css/dashboard.css' %}">
</head>
<body>

    <main>
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </main>

</body>
</html>