{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-container">
    <div class="sidebar">
        <div class="text-center">
            <img src="{% static 'ids/images/logo.jpg' %}" alt="Ardhi Logo" class="img-fluid" style="max-width: 40%;">
            <h4>ARDHI</h4>
        </div>
        <h2>Management</h2>
        <ul>
            <li><a href="{% url 'verify_students' %}" class="button">Verify Student</a></li>
            <li><a href="{% url 'view_verified_students' %}" class="button">View Verified Students</a></li>
            <li><a href="{% url 'handle_lost_id' %}" class="button">Verify lost</a></li>
            <li><a href="{% url 'logout' %}" class="button">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
<h1>DUP Dashboard</h1>
<p>Welcome to the DUP dashboard where you can verify students.</p>
<!-- Add links or buttons for DUP-specific actions -->
    </div>
</div>
{% endblock %}
